* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*Boot Css*/
/*Classe criada para utilizar medidas padroes no site atrves das classes*/
.center {
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
}

.w33 {
    width: 33.3%;
}

.w50 {
    width: 50%;
    padding: 0 10px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

/*Estilizacao do site*/
/*Header*/
header {
    padding: 20px 0;
    background: #3d437a;

}

header .logo {
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
}

nav.desktop ul {
    position: relative;
    top: 3px;
    list-style-type: none;

}

.mobile {
    display: none;
}

img {
    width: 100%;
}


nav.desktop li {
    display: inline-block;

}

nav.desktop a {
    font-size: 15px;
    padding: 0 30px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;

}

section.banner-principal {
    width: 100%;
    height: 600px;
    background-image: url("./img/19187761.jpg");
    background-size: cover;
    position: relative;
}

div.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(51, 51, 51, 0.3);
}

section.banner-principal form {
    width: 93%;
    max-width: 600px;
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

section.banner-principal form h2 {
    color: white;
    font-weight: 300;
    font-size: 30px;
    text-align: center;

}

section.banner-principal form input[type=email] {
    width: 100%;
    height: 66px;
    margin-top: 10px;
    background-color: white;
    color: #333;
    font-size: 22px;
    padding-left: 10px;
}

section.banner-principal form input[type=submit] {
    width: 100%;
    height: 66px;
    margin-top: 10px;
    background-color: #00c59e;
    color: white;
    font-size: 22px;
    padding-left: 10px;
    cursor: pointer;
    font-size: 22px;
    border: 0;
}

section.descricao-autor {
    padding: 30px;
}


section.descricao-autor h2 {
    font-size: 28px;
    font-weight: 400;
    color: #444;
}

section.descricao-autor p {
    font-size: 16px;
    color: #444;
    margin-top: 10px;
}

/*media trabalha com responsividade, ou seja, ajustes especificos na pagina*/
@media screen and (max-width:768px) {
    img {
        float: none !important;
        /*importante forca o navegador a executar aqui*/
        display: block;
        margin: 0 auto;
        max-width: 400px;
    }

    .w50 {
        width: 100%;
    }
}